*{
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: #333;
}
  
.form{
    padding-top: 2%;
}  


.column {
    margin: auto;
    float: center;
    width: 35%;
    padding: 10px;
    text-align: center;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}
.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
    padding: 10px;
}